<div id=build class={{css_class}}>
  {{>build_info}}
</div>

<form action={{form_action}} method=post>
  <input name=_method type=hidden value=delete>
  <p><button title="Delete this build">Delete this build</button></p>
</form>

