<form method=post action={{fork_path}}>
<p class=normal>
  <label for=project_branch>Topic branch</label>
  <input class=text id=project_branch name="project_data[branch]" type=text>
</p>
<p class=submit>
  <button class=positive type=submit>Fork Project</button>
</p>
</form>
