<div class=error>
<h1>
Ehm, you seem a bit lost, sir. Maybe going to the
<a href={{root_path}} refl=home>list of projects</a> will help?
</h1>

<dl>
<dt>Ouch. This is a 404 error-thingie, right?</dt>
<dd>Yeah, you browsed to a page that doesn't exist in this server.</dd>

<dt>What can I do?</dt>
<dd>As a very good book says on its cover:
<strong>DON'T PANIC.</strong>
<!-- if you didn't get the reference you aren't as nerd as you should be -->
You should probably just go back to
<a href={{root_path}} refl=home>the projects list</a> or
<a href={{back}}>back from whence you came</a>.
</dd>

<dt>What the hell is <strong>Integrity</strong>?</dt>
<dd>Integrity is your friendly
<a href="http://en.wikipedia.org/wiki/Continuous_integration">
Continuous Integration</a> server. Check out our website at
<a href="http://integrityapp.com">integrityapp.com</a>.
</dd>

</dl>
</div>
